.postCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 500px;
  .postList {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .card {
      margin-bottom: 10px;
    }
  }
}
